// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).

$base-color: #ef3128;

@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

// Custom code goes here..


// Color gradient
// usage:
// @include color_gradient(0, top, $darkBlue2, 0%, $lightBlue5, 100%);

@mixin color_gradient($type, $direction, $startColor, $startPercent, $m1Color, $m1Percent, $m2Color, $m2Percent, $endColor, $endPercent) {
	zoom: 1;
	background: $startColor;
	filter: progid:DXImageTransform.Microsoft.gradient(GradientType=#{$type} startColorstr=#{$startColor}, endColorstr=#{$endColor});
	-ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=#{$type}, startColorstr=#{$startColor}, endColorstr=#{$endColor})";
	background-image: -ms-linear-gradient($direction, $startColor $startPercent, $m1Color $m1Percent, $m2Color $m2Percent, $endColor $endPercent);
	background-image: -o-linear-gradient($direction, $startColor $startPercent, $m1Color $m1Percent, $m2Color $m2Percent, $endColor $endPercent);
	background-image: -moz-linear-gradient($direction, $startColor $startPercent, $m1Color $m1Percent, $m2Color $m2Percent, $endColor $endPercent);
	background-image: -webkit-linear-gradient($direction, $startColor $startPercent, $m1Color $m1Percent, $m2Color $m2Percent, $endColor $endPercent);
	background-image: linear-gradient($direction, $startColor $startPercent, $m1Color $m1Percent, $m2Color $m2Percent, $endColor $endPercent);
}


// Font face
// usage:
// @each $fonts in xyz-light, xyz-regular, xyz-bold, xyz-black {
//   @include font-face( $fonts, '../font/' );
// }
// help:
// $suffix: Font Squirrel > Advenced Options > Font Name Suffix, default value: -webfont

@mixin font-face( $name, $path, $filename: $name, $suffix: '-webfont' , $style: normal, $weight: normal ) {
 @font-face {
  font-family: "#{$name}";
  font-style: $style;
  font-weight: $weight;
  src: url( "#{$path}#{$filename}#{$suffix}.eot" );
  src: url( "#{$path}#{$filename}#{$suffix}.eot?#iefix" ) format( "embedded-opentype" ),
   url( "#{$path}#{$filename}#{$suffix}.woff" ) format( "woff" ),
   url( "#{$path}#{$filename}#{$suffix}.ttf" ) format( "truetype" ),
   url( "#{$path}#{$filename}#{$suffix}.svg##{$name}" ) format( "svg" );
 }
}

@each $fonts in Happiness {
  @include font-face( $fonts, '../fonts/' );
}

.algidaHeader{
    padding: 0px;
    height: 5em;
}

.algidaHeader .x-center{
    background-color: #fff;
    background-image: url('../images/header.png');
}

.algidaHeader .x-innerhtml{
    background-image: url('../images/title.png');
    font-family: Happiness;
    padding-left: 3em;
    padding-right: 3em;
    font-size: 1.2em;
}

.x-dock-body{
    background-image: url('../images/background.png');
}

.locationlist .x-scroll-scroller-vertical{
    background-color: #fff;
}

.algidaLogo{
    background-image: url('../images/algida-logo.png');
    width: 194px;
    height: 158px;
    top: 0em;
    left: 1em;
    position: absolute;
    z-index: 1;
}

.x-list.locationlist:before{
    content: url('../images/ice.png');
    width: 94px;
    height: 107px;
    position: absolute;
    top: -40px;
    left: -70px;
    z-index: 1;
}

.x-list.locationlist{
    margin: 0 auto;
    margin-top: 5em;
    border: 1em solid #ef3128;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-bottom: 1em;
    overflow: visible;
    width: 75%;
}

.x-list.locationlist .x-list-item p{
    color: #ef3128;
    font-weight: bold;
    margin-bottom: 0.3em;
    font-size: 1em;
}

.x-list.locationlist .x-list-item span{
    font-size: 0.9em;
}

.x-list.locationlist .x-list-item.x-item-selected p{
    color: #fff;
}

div.storeList{
    background-color: #fff;
    text-align: center;
    padding: 0.4em;
    font-size: 1.3em;
    font-family: Happiness;
    color: #ef3128;
    font-weight: bold;
}

.x-tabbar.x-docked-bottom .x-tab.x-tab-normal.x-tab-icon:first-of-type{
    display: none !important;
}

.x-container.x-form.loginForm{
    width: 30em;
    height: auto;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
    background: #fff;
    border: 1em solid #ef3128;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.loginForm .x-unsized.x-button-normal.x-button,
.x-container.x-field.x-field-text,
.x-container.x-field.x-field-password,
.x-container.x-field.x-field-select{
    margin: 1em;
}

.x-form-label{
    background: none;
    color: #ef3128;
}

.x-input-el.x-form-field.x-input-text,
.x-input-el.x-form-field.x-input-password{
    border: 0.15em solid #ef3128;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
}

.mapsTitleContainer{
    text-align: center;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    background-color: white;
    color: #ef3128;
    font-weight: normal;
    font-size: 1.1em;
    margin-bottom: 1.5em;
}

@-moz-document url-prefix() {
    .mapsTitleContainer{
        margin-top: 5.5em;
    }
    .addCustomAddress{
        margin-top: 4.5em !important;
    }
}

span.fullAddress{
    font-size: 0.7em;
}

$approved-color: #5dc94f;
.x-container.x-unsized.x-toggle.x-size-monitored.x-paint-monitored.x-toggle-on{
    @include color_gradient(0, top, $approved-color, 0%, lighten($approved-color, 5), 10%, lighten($approved-color, 10), 65%, lighten($approved-color, 20), 100%);
}

$not-checked-color: #ef3128;
.x-container.x-field.x-toggle-field.red .x-container.x-unsized.x-toggle.x-size-monitored.x-paint-monitored{
    @include color_gradient(0, top, $not-checked-color, 0%, lighten($not-checked-color, 5), 10%, lighten($not-checked-color, 10), 65%, lighten($not-checked-color, 20), 100%);
}

.mapsSubTitleBar{
    background-color: #fff;
}

.mapsSubTitleBar .x-form-label span{
    line-height: 2.5em;
}

.mapsSubTitleBar .x-inner.x-vertical.x-align-center.x-pack-start.x-layout-box{
    background-color: #fff;
}

.mapsSubTitleBar .x-field.x-toggle-field{
    background: none !important;
}

.listfilterform .x-button, .topListButton.x-button, .bottomListButton.x-button, .generateReportButton.x-button{
    background-image: none;
    background-color: #bc160e;
    background-image: -webkit-linear-gradient(top,#ef3128,#d41910 3%,#a5130c);
    background-image: -moz-linear-gradient(top,#ef3128,#d41910 3%,#a5130c);
    background-image: -o-linear-gradient(top,#ef3128,#d41910 3%,#a5130c);
    background-image: linear-gradient(top,#ef3128,#d41910 3%,#a5130c);
    color: #fff;
    height: 1.8em;
    font-weight: normal;
    margin-top: 1em;
    margin-bottom: 1em;
}

.generateReportButton.x-button, .listfilterform .x-button{
    margin-top: 1.3em;
}

.locationListFormSubmitButton{
    margin-right: 1em;
}

.x-field.x-field-labeled .x-form-label{
    display: none !important;
}

div.approved{
    position: absolute;
    background-color: #e5e3df;
    width: 2em;
    height: 2em;
    right: 1em;
    top: 50%;
    margin-top: -1em;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}

div.approved.green{
    background-color: #5DC94F;
}

div.approved.red{
    background-color: #ef3128;
}

.x-container.x-panel.x-sized.x-select-overlay.x-floating{
    z-index: 60 !important;
}

.x-container.x-unsized.x-msgbox-dark.x-msgbox.x-floating .x-dock-body{
    background: none;
}

.updateText .x-container.x-field-textarea{
    display: none !important;
}

@media screen and (max-width: 320px) {
        .algidaHeader .x-innerhtml{
            font-size: 0.9em !important;
        }
        .x-list.locationlist .x-list-item span{
            width: 82%;
            display: inline-block;
            word-wrap: break-word;
        }
        body {
            font-size: 0.9em !important;
        }
        .x-container.x-form.loginForm {
            max-width: 30em;
            width: 80%;
        }
        .algidaLogo {
            display: none;
        }
        .x-container.x-panel.x-sized.x-select-overlay.x-floating{
            z-index: 60 !important;
        }
        .locationListFormSubmitButton{
            background-image: url('../images/search.png') !important;
            background-size: 1.3em;
            text-indent: -1000em;
            background-repeat: no-repeat;
            background-position: 0.5em 0.1em;
        }
}

@media screen and (max-width: 360px) {
        .algidaHeader .x-innerhtml{
            font-size: 0.9em !important;
        }
        .x-list.locationlist .x-list-item span{
            width: 82%;
            display: inline-block;
            word-wrap: break-word;
        }
        body {
            font-size: 0.9em !important;
        }
        .x-container.x-form.loginForm {
            max-width: 30em;
            width: 80%;
        }
        .algidaLogo{
            display: none;
        }
        .x-container.x-panel.x-sized.x-select-overlay.x-floating{
            z-index: 60 !important;
        }
        .locationListFormSubmitButton{
            background-image: url('../images/search.png') !important;
            background-size: 1.3em;
            text-indent: -1000em;
            background-repeat: no-repeat;
            background-position: 0.75em 0.1em;
        }
}

.noStreetView{
    color: #ef3128;
    padding: 0.5em;
    font-weight: bold;
    margin-right: 2em;
}

.infoBox{
    background-image: url('../images/question.png') !important;
    width: 2em;
    height: 2em;
    background-size: cover;
    cursor: pointer;
    position: relative;
}

.resetButton{
    background-image: url('../images/reset.png') !important;
    width: 2em;
    height: 2em;
    background-size: cover;
    cursor: pointer;
    position: relative;
    margin-left: 1em;
}

.locateButton{
    background-image: url('../images/geo.png') !important;
    width: 2em;
    height: 2em;
    background-size: cover;
    cursor: pointer;
    position: relative;
    margin-left: 1em;
    margin-top: 1em;
}

.helpText{
    overflow: hidden;
}

.helpText ul{
    max-width: 55em;
    top: 3em;
    background-color: #fff;
    left: -13em;
    padding: 0.5em;
    line-height: 1.5em;
    text-align: justify;
    color: #ef3128;
}

.infoBox:hover ul{
    //display: block;
}

.helpText ul li{
    list-style: disc;
    margin-left: 1em;
}

.toggleContainer{
    //margin-top: 3em;
    margin-left: -3em;
}

.addCustomAddress{
    background-image: url("../images/edit.png")!important;
    width: 2em;
    height: 2em;
    background-size: cover;
    cursor: pointer;
    position: relative;
    margin-top: 0.8em;
    margin-left: 0.7em;
}

.customAddressInputContainer{
    margin-top: 4em;
    overflow: hidden;
    width: 100%;
}

.customAddressInputField.x-container.x-field.x-field-text{
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 0em;
    max-width: 40em !important;
    padding-left: 1em;
    padding-right: 1em;
}

.customAddressInputField.x-field.x-field-labeled .x-form-label{
    width: 30% !important;
    max-width: 5em;
    display: block !important;
    font-size: 1em;
    line-height: 1em;
    vertical-align: middle;
    padding: 0;
    margin-right: 1em;
    color: #ef3128;
    display: block !important;
}

.customAddressInputField.x-field.x-field-labeled .x-form-field{
    font-size: 0.8em;
}

.customAddressAlignContainer{
    margin: 0 auto;
    width: 50%;
}

.customAddressAlignContainer .x-inner.x-horizontal{
    margin-left: -3em;
    max-width: 40em;
    width: 100%;    
}

.notFoundChecker.x-field.x-field-labeled .x-form-label{
    width: 115px !important;
    display: block !important;
}

.notFoundChecker .x-field.x-field-labeled .x-component-outer{
    width: 10px !important;
}

.notFoundChecker .x-unsized.x-field-input .x-field-mask{
    width: 30px;    
}

.x-container.x-field-checkbox.x-field.notFoundChecker{
    width: 140px;
}

div.x-button-normal.searchOnGoogleButton{
    position: absolute;
    right: 10px;
    height: 40px;
    width: 40px;
    top: 236px;
    background-image: url('../images/google-button.png') !important;
    background-size: cover;
    cursor: pointer;
}

.whiteContainer{
    background-color: #fff;
    padding-right: 15px;
}

//background-color: #ef3128;

// Examples of using the icon mixin:
// @include icon('user');