// The following two lines import the default Sencha Touch theme. If you are building
// a new theme, remove them and the add your own CSS on top of the base CSS (which
// is already included in your app.json file).

$base-color: #ef3128;

@import 'sencha-touch/default';
@import 'sencha-touch/default/all';

@mixin font-face( $name, $path, $filename: $name, $suffix: '-webfont' , $style: normal, $weight: normal ) {
 @font-face {
  font-family: "#{$name}";
  font-style: $style;
  font-weight: $weight;
  src: url( "#{$path}#{$filename}#{$suffix}.eot" );
  src: url( "#{$path}#{$filename}#{$suffix}.eot?#iefix" ) format( "embedded-opentype" ),
   url( "#{$path}#{$filename}#{$suffix}.woff" ) format( "woff" ),
   url( "#{$path}#{$filename}#{$suffix}.ttf" ) format( "truetype" ),
   url( "#{$path}#{$filename}#{$suffix}.svg##{$name}" ) format( "svg" );
 }
}

@each $fonts in Happiness {
  @include font-face( $fonts, '../fonts/' );
}

// Custom code goes here..
.algidaHeader{
    padding: 0px;
    height: 5em;
}

.algidaHeader.settingsHeader{
//  height: 3em;
}

.algidaLogo{
    background-image: url("../images/algida-logo.png");
    width: 140px;
    height: 116px;
    top: 0;
    left: 50%;
    position: absolute;
    z-index: 1;
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: -14em;
}

.algidaHeader .x-center{
    background-color: #fff;
    background-image: url('../images/header.png');
}

.algidaHeader .x-innerhtml{
    background-image: url('../images/title.png');
    font-family: Happiness;
    padding-left: 3em;
    padding-right: 3em;
    font-size: 1.2em;
}

.menuButton{
    background-image: url('../images/burger.png') !important;
    width: 2em;
    height: 2em;
    background-size: cover;
    cursor: pointer;
    position: relative;
    background-color: #fff;
    background-size: 92%;
    background-repeat: no-repeat;
    background-position: 0.1em;
}

.refreshButton{
    background-image: url('../images/refresh.png') !important;
    width: 2em;
    height: 2em;
    background-size: cover;
    cursor: pointer;
    position: relative;
    background-color: #fff;
    background-size: 92%;
    background-repeat: no-repeat;
    background-position: 0.1em;
}

.x-toolbar-dark .x-button{
    background-color: #fff;
}

.x-container.x-tabbar-dark.x-tabbar.x-dock-item.x-docked-bottom.x-stretched{
    display: none;
}

.menuContentContainer{
    padding: 1em;
    max-width: 34em;
}

.mainMenu .x-dock-body{
    background-color: #fff;
}

.mainMenu{
    background-color: white;
}

.menuTitle{
    color: #ef3128;
    font-weight: bold;
    font-size: 1empx;
    padding-top: 1em;
    padding-left: 1em;
}

.customAddress, .feedBackEmail, .feedBackText{
    border: 0.15em solid #ef3128;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-top: 1em;
    border-bottom: .15em solid #ef3128 !important;
}

.customAddress, .feedBackEmail{
    margin-top: 0.5em;
    height: 2em;
    min-height: 2em;
}

.customAddress .x-input-el, .feedBackEmail .x-input-el{
    min-height: 1em;
    padding: 0.4em !important;
}
    
.distanceText{
    margin-top: 1em;
}

.distanceText span{
    font-weight: bold;
}

.distanceText .x-innerhtml, .customAddressLabel .x-innerhtml{
    font-size: 0.9em;
}

.customAddress .x-input-el.x-form-field.x-input-text,
.feedBackEmail .x-input-el.x-form-field.x-input-text,
.feedBackText .x-input-el.x-form-field.x-input-text{
    background: none;
    padding: 0.5em;
}

.feedBackLabel.second, .feedBackLocation{
    margin-top: 1em;
}

.feedBackLocation .x-form-label{
    width: 73% !important;
    background: none;
    color: #ef3128;
}

.feedBackTitle{
    font-weight: bold;
}

.customAddressLabel, .distanceText, .feedBackTitle, .feedBackLabel, .feedBackText textarea{
    color: #ef3128;
}

.feedBackText textarea{
    font-size: 0.9em;
    min-height: 4em;
}

.feedBackTitle{
    margin-top: 1.0em;
    margin-bottom: 1em;
}

.feedBackTitle, .feedBackLabel{
    font-size: 0.9em;
}

.distanceSlider .x-component-outer{
    padding-left: 0px;
    margin-left: -1em;
}

.settingsSubmitButton, .feedBackSubmit, .feedBackNextButton, .gpsLocateMe{
    margin-top: 1em;
    background-image: none;
    background-color: #bc160e !important;
    background-image: -webkit-linear-gradient(top,#ef3128,#d41910 3%,#a5130c);
    background-image: -moz-linear-gradient(top,#ef3128,#d41910 3%,#a5130c);
    background-image: -o-linear-gradient(top,#ef3128,#d41910 3%,#a5130c);
    background-image: linear-gradient(top,#ef3128,#d41910 3%,#a5130c);
    color: #fff;
    height: 1.8em;
    font-weight: normal;
}

.settingsSubmitButton{
    margin-top: 0.6em;
    margin-left: 0.5em;
}

.feedBackNextButton{
    margin-top: 0px;
}

@media all and (-ms-high-contrast:none){
    .feedBackText textarea{
        width: 250px !important;
        overflow-y: hidden;
    }
    .algidaHeader .x-innerhtml{
        width: 330px;
        margin: 0 auto;
    }
}

.x-unsized.x-size-monitored.x-paint-monitored.x-draggable.x-thumb:after{
    background-image: none;
    background-color: #bc160e;
    background-image: -webkit-linear-gradient(top,#ef3128,#d41910 3%,#a5130c);
    background-image: -moz-linear-gradient(top,#ef3128,#d41910 3%,#a5130c);
    background-image: -o-linear-gradient(top,#ef3128,#d41910 3%,#a5130c);
    background-image: linear-gradient(top,#ef3128,#d41910 3%,#a5130c);
    cursor: pointer;
}

.x-mask-message{
    color: #ef3128 !important;
}

.x-mask-inner{
    background-color: #fff !important;
}

.x-slider:before{
    margin-right: 0;
}

b.youAreHere{
    display: inline-block;
    min-width: 150px;
    text-align: center;
    min-height: 25px;
}

.locationInfoText{
    margin: 0 auto;
    border: 3px solid #ef3128;
    background-color: #460805;
    color: #fff;
    padding: 0.5em;
    padding-left: 2em;
    padding-right: 2em;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    font-size: 1em;
    font-weight: bold;
}

.locationInfo{
    z-index: 1;
    height: 5em;
    top: 2em !important;
}

@media all and (-ms-high-contrast:none){
    .x-field.distanceSlider .x-component-outer{
        width: 322px;
    }
    .locationInfoText{
        margin-left: 0px;
    }
}

@media screen and (max-width: 320px) {
        .algidaHeader .x-innerhtml{
            font-size: 0.9em !important;
        }
        body {
            font-size: 0.9em !important;
        }
        .algidaLogo {
            display: none;
        }
}

@media screen and (max-width: 360px) {
        .algidaHeader .x-innerhtml{
            font-size: 0.9em !important;
        }
        body {
            font-size: 0.9em !important;
        }
        .algidaLogo{
            display: none;
        }
}

@media screen and (max-width: 480px) {
        .algidaHeader .x-innerhtml{
            font-size: 0.9em !important;
        }
        body {
            font-size: 0.9em !important;
        }
        .algidaLogo{
            display: none;
        }
}

.rights{
    position: absolute;
    /*top: 50%;*/
    margin-top: 5%;
    height: 70%;
    background-color: #fff;
    color: #ef3128;
    z-index: 2;
    left: 50%;
    border: 0.15em solid #ef3128;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    padding: 1em;
}

.feedBackPopUpControls{
    margin-top: 1em;
}

.feedBackToggleContainer{
    margin-top: 1em;
    width: 95%;
}

.feedBackToggleContainer .x-form-label{
    background: none;
    color: #ef3128;
}

div.rights{
    min-height: 380px;
    max-height: 500px;
}

.x-mask{
    width: 4000px;
}

.feedBackButtonContainer{
    margin-top: 0em;
}

.feedBackButtonContainer .feedBackNextButton:nth-child(2){
    margin-left: 1em;
}

.x-unsized.x-size-monitored.x-paint-monitored.x-draggable.x-thumb:after{
    background: #ccc;
}

.letItBeRed{
    color: #ef3128;
    margin-top: 1em;
}

.letItBeRed a{
    text-decoration: none;
    color: #ef3128;
    font-weight: bold;
}


.promotionSelector .x-inner .x-container{
    background: none;
}

.promotionSelector input{
    border: 0.15em solid #ef3128;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    margin-top: 1em;
    border-bottom: .15em solid #ef3128 !important;
}

.x-ie,
.x-firefox {
	.promotionSelector {
		.x-field {
			display: block !important;
		}
		
		input {
			min-width: 200px;
			background: #ffffff url('../images/triangle.png') center right no-repeat;
			cursor: pointer;
		}
	}
}

.x-ie [visibility='visible'].x-mask ~ div:not(.x-mask) .x-input-el, 
.x-ie [visibility='visible'].x-mask ~ div:not(.x-panel) .x-input-el, 
.x-ie [visibility='visible'].x-mask ~ div:not(.x-floating) .x-input-el, 
.x-ie [visibility='visible'].x-mask ~ div:not(.x-center) .x-input-el, 
.x-ie [visibility='visible'].x-mask ~ div:not(.x-msgbox) .x-input-el, 
.x-ie :not(.x-item-hidden).x-mask ~ div:not(.x-mask) .x-input-el, 
.x-ie :not(.x-item-hidden).x-mask ~ div:not(.x-panel) .x-input-el, 
.x-ie :not(.x-item-hidden).x-mask ~ div:not(.x-floating) .x-input-el, 
.x-ie :not(.x-item-hidden).x-mask ~ div:not(.x-center) .x-input-el, 
.x-ie :not(.x-item-hidden).x-mask ~ div:not(.x-msgbox) .x-input-el {
	visibility: visible;
}


// popup arrows

.x-ie,
.x-firefox {
	.x-anchor {
		position: absolute;
		overflow: hidden;
		
		&.x-anchor-top {
			margin-top: -0.68em;
			margin-left: -0.816em;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0 0.815em 0.7em 0.815em;
			border-color: transparent transparent #460805 transparent;
		}
		
		&.x-anchor-bottom {
			margin-bottom: -0.68em;
			margin-left: -0.816em;
			width: 0;
			height: 0;
			border-style: solid;
			border-width: 0.7em 0.815em 0 0.815em;
			border-color: #460805 transparent transparent transparent;
		}
	}
}

.promotionSelector .x-field-input{
    min-width: 15em;
}

// Examples of using the icon mixin:
// @include icon('user');
